@use "../abstracts" as *;
 
  .fade-up {
    transform: translateY(30%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  .fade-in-left {
    transform: translateX(-30%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  .reveal {
    transform: translate(0);
    opacity: 1;
  }