@use "../abstracts" as *;

.footer {
    background: $color-black;
    padding: 4rem 0;
    &__container {
        @extend %flex-column;
        gap: 3rem;
    }
    &__right, &__left {
        @extend %center
    }
    &__right {
        @extend %flex-column;
        gap: 1rem;
    }
    &__left {
        @extend %flex-column;
        gap: 2rem;
    }
    &__copyright {
        color: $color-darkGray;
        width: fit-content;
    }
    &__socials {
        width: fit-content;
        display: flex;
        gap: 1rem;
    }
}
