@use "../abstracts" as *;

.footer {
    background: $color-black;
    padding: 4rem 0;
    &__container {
        display: grid;
        justify-items: center;
        gap: 1rem;
        @include breakpoint(large) {
            grid-template-areas: 
            "footerlogo socials"
            "footernav copyright";
        }
    }
    &__copyright {
        color: $color-darkGray;
        width: fit-content;
        text-align: center;
        @include breakpoint(medium) {
            text-align: initial;
            align-self: end;
        }
        @include breakpoint(large) {
            grid-area: copyright;
            justify-self: end;
        }
    }
    &__socials {
        display: flex;
        gap: 1rem;
        @include breakpoint(large) {
            grid-area: socials;
            align-self: end;
            justify-self: end;
        }
    }
    &__nav {
        margin: 1.5rem 0 2.5rem;
        text-align: center;
        @include breakpoint(medium) {
            flex-direction: row;
        }
        @include breakpoint(large) {
            margin: 0;
            grid-area: footernav;
            justify-self: start;
        }
    }
    &__logo {
        @include breakpoint(large) {
            grid-area: footerlogo;
            justify-self: start;
        }
    }
}
