@use "../abstracts" as *;

//HAMBURGER MENU

.hamburger {
  position: relative;
  background: none;
  border: 0;
  cursor: pointer;
  justify-self: end;
  z-index: 1000;
  @include breakpoint(large) {
    display: none;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline-offset: 0.3625rem;
    outline: 0.15rem dotted $color-white;
  }
  &:hover &__bar {
    background: $color-darkGray;
  }
  &__bar {
    background: #fff;
    display: block;
    width: 30px;
    height: 3.5px;
    margin: 7px auto;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.72, 1.675),
      background $transition-primary;
    border-radius: 5px;
    @include breakpoint(large) {
      width: 35px;
      height: 4px;
    }
  }
  &.active &__bar:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
  }

  &.active &__bar:nth-child(3) {
    opacity: 0;
  }

  &.active &__bar:nth-child(4) {
    transform: translateY(-8px) rotate(-45deg);
  }

  &.active &__bar--light:nth-child(3) {
    opacity: 0;
  }

  &.active &__bar--light:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
  }

  &.active &__bar--light:nth-child(4) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
