@use "../abstracts" as *;

.hero {
  @include breakpoint(medium) {
    padding: 2rem 0;
  }
  &__title {
    color: $color-white;
    transition: transform $transition-primary, opacity $transition-primary;
    line-height: 1.2;
    transform: translateY(-100%);
    opacity: 0;
    border: solid 1px;
    padding: 1.5rem;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: $ff-secondary;
    max-width: 34rem;
    height: fit-content;
    @include breakpoint(xsmall) {
      font-size: 40px;
      padding-right: 3rem;
    }
    @include breakpoint(medium) {
      max-width: 43rem;
    }
    @include breakpoint(xlarge) {
      font-size: 72px;
      padding: 2.5rem;
    }
  }
}