@use "../abstracts" as *;

.logo {
  width: fit-content;
  z-index: 1000;
  &__img {
    max-width: 9.375rem;
    height: auto;
    @include breakpoint(small) {
      max-width: 10.375rem;
    }
    @include breakpoint(medium) {
      max-width: 11rem;
    }
    @include breakpoint(large) {
      max-width: 12rem;
    }
  }
}
