@use "../abstracts" as *;

.nav {
  max-height: 4.5rem;
  z-index: 10;
  display: flex;
  align-items: center;
  transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  &:hover {
    background: $color-black;
  }
  &__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .hamburger {
    min-width: 24px;
    align-self: center;
    justify-self: end;
  }
  &__links {
    color: $color-white;
    width: fit-content;
    @extend %flex-column;
    gap: 1.6rem;
    @media screen and (max-height: 32em) {
      gap: 1.5rem;
    }
  }

  &__links--desktop {
    display: none;
    @include breakpoint(large) {
      display: flex;
      flex-direction: row;
      justify-self: end;
      font-size: 16px;
    }
  }

  .fullscreen-menu {
  @extend %center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  left: -100%;
  top: 0;
  font-weight: $fw-secondary;
  width: 100%;
  transition: ease-in-out 0.3s;
  z-index: 600;
  height: 100vh;
  font-size: 1.7rem;
  text-transform: uppercase;
  @media screen and (max-height: 32em) {
    gap: 1rem;
    font-size: 1.5rem;
  }
  &.active {
    background-color: #000;
    left: 0;
    height: 100vh;
  }
  li {
    transition: ease-in-out 0.2s;
    display: grid;
    justify-items: center;
    filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, 0.1));
    font-family: $ff-secondary;
  }
}
}
