@use "../abstracts" as *;

.nav {
  max-height: 4.5rem;
  z-index: 10;
  display: flex;
  align-items: center;
  transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  &:hover {
    background: $color-black;
  }
  &__container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .hamburger {
    min-width: 24px;
    align-self: center;
    justify-self: end;
  }
  &__links {
    color: $color-white;
    width: fit-content;
    @extend %flex-column;
    gap: 1.5rem;
  }

  &__menu {
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    transition: ease-in-out 0.3s;
    z-index: 600;
    height: 100vh;
    text-transform: uppercase;
    @media screen and (max-height: 32em) {
      gap: 1rem;
      margin-top: 1.5rem;
    }
    @include breakpoint(large) {
      display: flex;
      flex-direction: row;
      justify-self: end;
      height: initial;
      padding: initial;
      position: initial;
      justify-content: end;
    }
    &.active {
      background-color: #000;
      left: 0;
      height: 100vh;
      @include breakpoint(large) {
        height: initial;
        background-color: initial;
      }
    }
    li {
      font-family: $ff-secondary;
      font-size: 1.7rem;
      width: clamp(16rem, 87vw, 85rem);
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-height: 32em) {
        font-size: 1.5rem;
      }
      @include breakpoint(medium) {
        font-size: 1.9rem;
      }
      @include breakpoint(large) {
        font-size: 15px;
        text-transform: initial;
        font-family: $ff-primary;
        width: initial;
        margin: initial;
      }
    }
  }
}


