@use "../abstracts" as *;

.portfolio {
  margin: 2rem 0 8rem;
  max-width: 66.875rem;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "title"
    "projects"
    "button";
  @include breakpoint(medium) {
    margin: 2rem 0 10rem;
    grid-template-areas:
      "title button"
      "projects projects";
  }
  &__projects {
    padding-bottom: 1.5rem;
    overflow: hidden;
    grid-area: projects;
    margin-top: 3.5rem;
    display: grid;
    gap: 1.5rem;
    margin: 0 auto;
    width: 100%;
    @include breakpoint(small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(medium) {
      padding-bottom: 0;
      overflow: initial;
    }
    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
      max-width: 66.875rem;
    }
  }
  &__btn {
    position: relative;
    grid-area: button;
    justify-self: flex-end;
    color: $color-black;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: solid 0.06rem $color-darkGray;
    padding: 0.9rem 2.3rem;
    transition: color $transition-primary, background $transition-primary;
    @include breakpoint(medium) {
      margin: 0;
    }
  }
  &__btn:hover {
    background: $color-black;
    color: $color-white;
  }
  &__title {
    grid-area: title;
    align-self: flex-end;
    justify-self: center;
    @include breakpoint(medium) {
      justify-self: start;
    }
    @include breakpoint(xlarge) {
      max-width: fit-content;
    }
  }
}
