@use "../abstracts" as *;

.showcase {
  margin: 5rem 0;
  @extend %center;
  gap: 3rem;
  position: relative;
  place-items: center;
  @include breakpoint(medium) {
    max-width: 66.875rem;
  }
  @include breakpoint(xlarge) {
    margin: 6rem 0 10rem;
  }
  &__img {
    height: auto;
  }
  &__img-wrapper {
    max-width: 25rem;
    @include breakpoint(xlarge) {
      max-width: initial;
      place-self: baseline;
    }
  }
  &__info {
    @include breakpoint(xlarge) {
      max-width: 40.625rem;
      position: absolute;
      background: $color-white;
      padding: 5rem;
      text-align: start;
      right: -5%;
      top: 35%;
    }
  }
  &__title {
    margin-bottom: 1.575rem;
    text-align: center;
    padding-right: 1rem;
    @include breakpoint(large) {
      font-size: 2.5rem !important;
    }
    @include breakpoint(xlarge) {
      padding-right: 1.2rem;
      text-align: start;
      font-size: 3rem !important;
    }
  }
  &__text {
    padding: 0 1rem;
    max-width: 28.125rem;
    text-align: center;
    margin: 0 auto;
    @include breakpoint(xlarge) {
      text-align: start;
      padding: 0;
    }
  }
}
