@use "../abstracts" as *;

.showcase {
    margin: 6rem 0;
    @extend %center;
    gap: 3rem;
    position: relative;
    place-items: center;
    @include breakpoint(medium) {
        max-width: 1070px;
    }
    @include breakpoint(xlarge) {
        margin: 6rem 0 10rem;
    }
    &__img {
        height: auto;
    }
    &__img-wrapper {
        max-width: 400px;
        @include breakpoint(xlarge) {
            max-width: initial;
            place-self: baseline;
        }
    }
    &__info {
        @include breakpoint(xlarge) {
            max-width: 650px;
            position: absolute;
            background: $color-white;
            padding: 5rem;
            text-align: start;
            right: 0;
            bottom: 0;
            transform: translate(15%, 30%);
        }
    }
    &__title {
        margin-bottom: 25px;
        text-align: center;
        padding-right: 1rem;
        @include breakpoint(large) {
            font-size: 40px !important;
        }
        @include breakpoint(xlarge) {
            padding-right: 1.2rem;
            text-align: start;
            font-size: 48px !important;
        }
    }
    &__text {
        padding: 0 1rem;
        max-width: 450px;
        text-align: center;
        margin: 0 auto;
        @include breakpoint(xlarge) {
            text-align: start;
            padding: 0;
        }
    }
}