@use "../abstracts" as *;


.section-title {
    font-family: $ff-secondary;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding-right: 1rem;
}
.section-text {
    max-width: 500px;
    color: $color-darkGray;
    font-weight: 300;
    text-align: center;
    line-height: 1.7;
    padding: 0 1rem;
    @include breakpoint(xlarge) {
        text-align: start;
        padding: 0;
    }
}