@use "../abstracts" as *;

.section-title {
  font-family: $ff-secondary;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  @include breakpoint(large) {
    font-size: 2.5rem;
  }
  @include breakpoint(xlarge) {
    font-size: 3rem;
  }
}
.section-text {
  color: $color-darkGray;
  font-weight: 300;
  line-height: 1.7;
}
