@use "../abstracts" as *;

//CONTAINERS

.s-container {
  width: clamp(16rem, 87vw, 85rem);
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  background: linear-gradient(
      to left bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url(/src/img/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 2fr;
  min-height: 100vh;
  min-width: min-content;
  @include breakpoint(large) {
    background: linear-gradient(
        to left bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
      ),
      url(/src/img/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 1fr 2fr 1fr;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.nav__item-reveal { 
  -webkit-transform: translate3d(-100px,0,0);
  transform: translate3d(-100px,0,0);
  opacity: 0;

  @include breakpoint(large) {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition: none;
  }
}

.slide-right {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.active {
  opacity: 1;
  transform: translateY(0);
}


.reveal-left {
  transition: 0.6s ease-in-out;
  opacity: 0;
  transform: translateX(-20%);
}

.fade-in-left {
  opacity: 1;
  transform: translateX(0);
}