@use "../abstracts" as *;

//CONTAINERS

.s-container {
  padding: 0 0.5rem;
  width: clamp(16rem, 87vw, 85rem);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 280px ) {
    padding: 0;
  }
}

.header {
  position: relative;
  background: linear-gradient(
      to left bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url(/src/img/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 2fr;
  min-height: 100vh;
  min-width: min-content;
  @include breakpoint(large) {
    background: linear-gradient(
        to left bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
      ),
      url(/src/img/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 1fr 2fr 1fr;
  }
  @media screen and (max-height: 32em) {
    gap: 1rem;
    grid-template-rows: 0.5fr 2fr;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.nav__item-reveal { 
  transition: transform 0.6s cubic-bezier(0.175, 0.285, 0.72, 1.375), opacity 0.6s ease-in-out ;
  -webkit-transform: translate3d(-100px,0,0);
  transform: translate3d(-100px,0,0);
  opacity: 0;

  @include breakpoint(large) {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition: none;
  }
}

.slide-right {

  transform: none;
  opacity: 1;
}

.active {
  opacity: 1;
  transform: translateY(0);
}


.fade-in-left {
  -webkit-transform: none;
  transform: translateX(-30%);
  opacity: 0;
  transition: 1s ease-in-out ;
}

.reveal {
  -webkit-transform: none;
  transform: translateX(0);
  opacity: 1;
}